@import '~scss/global-values.scss';

.footer-mobile {
    background-color: $background-gray;
    color: $text-blue;
    padding: 8px 20px;
    font-size: 14px;

    .footer {

        &--copyright {
            color: $text-gray;
            font-size: 12px;
        }
    }
}