@import '~scss/global-values.scss';

.homepage-mobile-layout {

    .layout {

        &--promotional-image {
            background-color: $background-gray;
            color: $text-gray;
            font-size: 40px;
            font-weight: bold;
            padding: 10% 0;
            text-align: center;
            vertical-align: middle;
            width: 100%;
        }

        &--menu {

            &-container {
                border: solid $gray-light;
                border-width: 0 0 1px 1px;
            }

            &-link {
                background-color: $white;
                border: solid $gray-light;
                border-width: 1px 1px 0 0;
                color: $text-blue;
                display: inline-block;
                font-size: 13px;
                font-weight: bold;
                line-height: 1.5;
                padding: 20px;
                text-decoration: none;
                vertical-align: top;
                width: 50%;
            }
        }

        &--offer {

            &-container {
                border-top: 10px solid $gray-light;
            }

            &-link {
                border-bottom: 1px solid $gray-dark;
                color: $text-gray;
                display: block;
                font-size: 13px;
                padding: 20px;
                position: relative;
                text-decoration: none;
            }

            &-title {
                color: $text-blue;
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 5px;
            }

            &-text {
                width: 80%;
            }

            &-caret {
                font-size: 35px;
                position: absolute;
                right: 10px;
                top: 50%;
                color: $gray-dark;
                transform: translate(0, -50%);
            }
        }
    }
}