$blue-dark: #111b40;
$blue: #304cb2;
$gray-dark: #636363;
$gray-light: #e6e7e8;
$orange: #ffbf27;
$white: #fff;

$background-blue: $blue;
$background-gray: $gray-light;
$text-white: $white;
$text-gray: $gray-dark;
$text-blue: $blue;
$text-blue-dark: $blue-dark;

$page-width-desktop: 938px;